<div class="container mt-5 mb-5">
  <h1 class="text-center">About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minus obcaecati accusamus dicta natus impedit a minima? Illo architecto accusantium nostrum, ea similique, delectus ut assumenda officia corrupti voluptate saepe?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, asperiores. Expedita natus ad veritatis tempora dolore deserunt nulla ipsam, debitis consequatur! Recusandae consequatur aperiam nihil officia temporibus expedita fugit voluptatum?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem sequi sed unde nobis reprehenderit? Soluta dicta culpa, accusamus magni sed obcaecati excepturi voluptate unde distinctio temporibus nostrum blanditiis eum molestiae!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid fugiat esse consectetur obcaecati suscipit vero iusto blanditiis, sed deserunt. Nisi saepe totam debitis provident tenetur deserunt dolores ratione id soluta!
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic harum quos magnam vero et tempora repudiandae, voluptas laborum consequatur, alias perferendis magni corporis, fuga odit commodi rem dolore aliquam veniam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, eveniet suscipit animi repellat delectus minima necessitatibus est nihil optio culpa sunt earum adipisci libero maiores voluptatibus quis consequuntur explicabo sed.
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestias praesentium exercitationem inventore possimus, cum, aspernatur corrupti recusandae labore reprehenderit quis. Ut soluta magni nulla, adipisci provident quos ea fugit?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab doloremque delectus quisquam ipsam totam earum officia, quas quo minima labore consectetur quasi ex, cupiditate nostrum temporibus rerum. Voluptatum, magni libero.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias libero hic quidem explicabo aperiam ratione iure laborum veniam sit itaque, iste a voluptas assumenda ut adipisci, vitae non. Minus, nihil.
    <br>

  </p>
</div>
